# ==============================================================================
# gitignore
# ==============================================================================


# Laravel
# ==============================================================================

/vendor
/node_modules
.env


# Bower
# ==============================================================================

/public/components
.bower-cache
.bower-registry
.bower-tmp
